In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

### Store 1st CSV into DataFrame

In [3]:
house_csv_file = "../Resources/Affordable_Housing_Inventory.csv"
house_data_df = pd.read_csv(house_csv_file)
house_data_df.columns
# portland_data_df["Offense Type"].value_counts()

Index(['Contract ID #', 'Name', 'Developer/Owner', 'Unit Type',
       'Development Program', 'Address', 'Zip Code', 'Council District',
       'Contact Phone Number', 'Contact E-mail', 'Own/Rent', 'Total Units',
       'Total Affordable Units', 'Status', 'Affordability Period Start Date',
       'Affordability Period Start Year', 'Affordabilty Period',
       'Affordability Period Expiration Date', 'Units at 30% MFI',
       'Units at 40% MFI', 'Units at 50% MFI', 'Units at 60% MFI',
       'Units at 65% MFI ', 'Units at 80% MFI', 'Market Rate Units',
       'City Funding Amount', 'Approx. % of Funds Leveraged', 'Location 1'],
      dtype='object')

### Create new data with select columns

In [4]:
new_house_data_df = house_data_df[['Name', 'Zip Code','Total Affordable Units']].copy()
new_house_data_df.head()

                        Name  Zip Code  Total Affordable Units
0            Annointed Acres   78702.0                    72.0
1                  M Station   78722.0                   140.0
2  Garden Terrace Apartments   78745.0                    15.0
3                  Lifeworks   78704.0                    12.0
4        Mueller I-C Phase I   78723.0                     3.0

In [5]:
new_house_data_df = new_house_data_df.rename(columns={'Zip Code': 'Zip', 'Name': 'Contractor_Name', 'Total Affordable Units': 'Total_Affordable_Units'})

In [6]:
new_house_data_df.dropna(inplace=True)
new_house_data_df['Zip'] = new_house_data_df['Zip'].astype(int)

In [7]:
total_units_df = new_house_data_df.groupby('Zip').sum()

In [8]:
total_units_df.reset_index(inplace=True)

In [9]:
total_units_df.columns = ['Zip', 'Total Affordable Units per Zip']

In [10]:
housing_data = pd.merge(new_house_data_df, total_units_df, on='Zip')
del housing_data['Total_Affordable_Units']
housing_data.head()

          Contractor_Name    Zip  Total Affordable Units per Zip
0         Annointed Acres  78702                           996.0
1             Linden Lots  78702                           996.0
2    The Villages on 12th  78702                           996.0
3        906 E 7th Street  78702                           996.0
4  1616 Canterbury Street  78702                           996.0

### Store 2nd CSV into DataFrame

In [11]:
austind_csv_file = "../Resources/austin.csv"
austin_crime_data_df = pd.read_csv(austind_csv_file)

In [12]:
austin_crime_data_df.dropna(inplace=True)
austin_crime_data_df['GO Location Zip'] = austin_crime_data_df['GO Location Zip'].astype(int)

### Clean DataFrame

In [13]:
austin_crime_data_df = austin_crime_data_df.rename(columns={'Highest NIBRS/UCR Offense Description': 'Offense', 'GO Location Zip': 'Zip'})
austin_crime_data_df.head()

,GO Primary Key,Council District,GO Highest Offense Desc,Offense,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,Zip,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,201610188.0,8.0,AGG ASLT ENHANC STRANGL/SUFFOC,Agg Assault,1-Jan-16,8600 W SH 71 ...,C,12-Jan-16,D,78735,19.08,3067322.0,10062796.0
1,201610643.0,9.0,THEFT,Theft,1-Jan-16,219 E 6TH ST ...,C,4-Jan-16,G,78701,11.00,3114957.0,10070462.0
2,201610892.0,4.0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-16,701 W LONGSPUR BLVD ...,N,3-May-16,E,78753,18.23,3129181.0,10106923.0
3,201610893.0,9.0,THEFT,Theft,1-Jan-16,404 COLORADO ST ...,N,22-Jan-16,G,78701,11.00,3113643.0,10070357.0
5,201611148.0,1.0,DEADLY CONDUCT,Agg Assault,1-Jan-16,8002 TAPO LN ...,N,8-Jan-16,C,78724,22.08,3146947.0,10077985.0

In [14]:
del housing_data['Contractor_Name']

### Join two dataframe files on zip

In [15]:
combined_crime_data = pd.merge(housing_data, austin_crime_data_df, on='Zip')

In [16]:
combined_crime_data.head()

,Zip,Total Affordable Units per Zip,GO Primary Key,Council District,GO Highest Offense Desc,Offense,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,78702,996.0,2.016500e+10,3.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,E 5TH ST / ONION ST ...,N,4-Jan-16,G,9.02,3119041.0,10068828.0
1,78702,996.0,2.016500e+10,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,EMBASSY DR / E 9TH ST ...,N,14-Jan-16,G,9.01,3117723.0,10070838.0
2,78702,996.0,2.016500e+10,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,809 E 9TH ST ...,N,14-Jan-16,G,9.01,3117459.0,10070829.0
3,78702,996.0,2.016500e+10,1.0,THEFT,Theft,1-Jan-16,1149 CHICON ST ...,N,19-Feb-16,C,8.04,3121874.0,10071490.0
4,78702,996.0,2.016207e+08,1.0,AUTO THEFT,Auto Theft,2-Jan-16,1812 ULIT AVE ...,N,3-Jan-16,C,8.03,3123757.0,10075640.0

In [17]:
del combined_crime_data['GO Primary Key']

In [18]:
combined_crime_data.columns

Index(['Zip', 'Total Affordable Units per Zip', 'Council District',
       'GO Highest Offense Desc', 'Offense', 'GO Report Date', 'GO Location',
       'Clearance Status', 'Clearance Date', 'GO District', 'GO Census Tract',
       'GO X Coordinate', 'GO Y Coordinate'],
      dtype='object')

In [19]:
combined_crime_data.columns = ['Zip', 'Total_Affordable_Units_per_Zip',
       'Council_District', 'Highest_Offense_Desc', 'Offense',
       'Report_Date', 'Location', 'Clearance_Status', 'Clearance_Date',
       'District', 'Census_Tract', 'X_Coordinate', 'Y_Coordinate']

combined_crime_data.head()

,Zip,Total_Affordable_Units_per_Zip,Council_District,Highest_Offense_Desc,Offense,Report_Date,Location,Clearance_Status,Clearance_Date,District,Census_Tract,X_Coordinate,Y_Coordinate
0,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,E 5TH ST / ONION ST ...,N,4-Jan-16,G,9.02,3119041.0,10068828.0
1,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,EMBASSY DR / E 9TH ST ...,N,14-Jan-16,G,9.01,3117723.0,10070838.0
2,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,809 E 9TH ST ...,N,14-Jan-16,G,9.01,3117459.0,10070829.0
3,78702,996.0,1.0,THEFT,Theft,1-Jan-16,1149 CHICON ST ...,N,19-Feb-16,C,8.04,3121874.0,10071490.0
4,78702,996.0,1.0,AUTO THEFT,Auto Theft,2-Jan-16,1812 ULIT AVE ...,N,3-Jan-16,C,8.03,3123757.0,10075640.0

### Connect to local database

In [23]:
rds_connection_string = "root:Msql03092018@127.0.0.1/austin_crime_housing_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [24]:
engine.table_names()

['austin_data', 'house']

### Converted Report Date column to datetime

In [25]:
from datetime import datetime

In [26]:
combined_crime_data['Report_Date'] = [datetime.strptime(mydate, '%d-%b-%y') for mydate in combined_crime_data['Report_Date']]

In [27]:
combined_crime_data['Clearance_Date'] = [datetime.strptime(mydate, '%d-%b-%y') for mydate in combined_crime_data['Clearance_Date']]

In [28]:
combined_crime_data.head()

,Zip,Total_Affordable_Units_per_Zip,Council_District,Highest_Offense_Desc,Offense,Report_Date,Location,Clearance_Status,Clearance_Date,District,Census_Tract,X_Coordinate,Y_Coordinate
0,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-01,E 5TH ST / ONION ST ...,N,2016-01-04,G,9.02,3119041.0,10068828.0
1,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,EMBASSY DR / E 9TH ST ...,N,2016-01-14,G,9.01,3117723.0,10070838.0
2,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,809 E 9TH ST ...,N,2016-01-14,G,9.01,3117459.0,10070829.0
3,78702,996.0,1.0,THEFT,Theft,2016-01-01,1149 CHICON ST ...,N,2016-02-19,C,8.04,3121874.0,10071490.0
4,78702,996.0,1.0,AUTO THEFT,Auto Theft,2016-01-02,1812 ULIT AVE ...,N,2016-01-03,C,8.03,3123757.0,10075640.0

In [29]:
combined_crime_data.head()

,Zip,Total_Affordable_Units_per_Zip,Council_District,Highest_Offense_Desc,Offense,Report_Date,Location,Clearance_Status,Clearance_Date,District,Census_Tract,X_Coordinate,Y_Coordinate
0,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-01,E 5TH ST / ONION ST ...,N,2016-01-04,G,9.02,3119041.0,10068828.0
1,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,EMBASSY DR / E 9TH ST ...,N,2016-01-14,G,9.01,3117723.0,10070838.0
2,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,809 E 9TH ST ...,N,2016-01-14,G,9.01,3117459.0,10070829.0
3,78702,996.0,1.0,THEFT,Theft,2016-01-01,1149 CHICON ST ...,N,2016-02-19,C,8.04,3121874.0,10071490.0
4,78702,996.0,1.0,AUTO THEFT,Auto Theft,2016-01-02,1812 ULIT AVE ...,N,2016-01-03,C,8.03,3123757.0,10075640.0

### Use pandas to load csv converted DataFrame into database

In [30]:
combined_crime_data.to_sql(name='crime', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the crime table

In [31]:
pd.read_sql_query('select * from crime', con=engine)

,Zip,Total_Affordable_Units_per_Zip,Council_District,Highest_Offense_Desc,Offense,Report_Date,Location,Clearance_Status,Clearance_Date,District,Census_Tract,X_Coordinate,Y_Coordinate
0,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-01,E 5TH ST / ONION ST ...,N,2016-01-04,G,9.02,3119041.0,10068828.0
1,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,EMBASSY DR / E 9TH ST ...,N,2016-01-14,G,9.01,3117723.0,10070838.0
2,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-01,809 E 9TH ST ...,N,2016-01-14,G,9.01,3117459.0,10070829.0
3,78702,996.0,1.0,THEFT,Theft,2016-01-01,1149 CHICON ST ...,N,2016-02-19,C,8.04,3121874.0,10071490.0
4,78702,996.0,1.0,AUTO THEFT,Auto Theft,2016-01-02,1812 ULIT AVE ...,N,2016-01-03,C,8.03,3123757.0,10075640.0
5,78702,996.0,1.0,THEFT,Theft,2016-01-02,1208 CEDAR AVE ...,N,2016-02-22,C,8.03,3123542.0,10073699.0
6,78702,996.0,3.0,THEFT,Theft,2016-01-02,1500 E 6TH ST ...,N,2016-01-16,G,9.02,3119252.0,10069180.0
7,78702,996.0,3.0,AGG ASSAULT,Agg Assault,2016-01-03,N IH 35 SVRD NB / E CESAR CHAVEZ ST ...,N,2016-06-30,G,9.02,3116588.0,10068234.0
8,78702,996.0,1.0,AUTO THEFT,Auto Theft,2016-01-03,904 BEDFORD ST ...,N,2016-01-03,C,8.02,3125264.0,10072349.0
9,78702,996.0,3.0,BURGLARY NON RESIDENCE,Burglary,2016-01-03,2700 E 5TH ST ...,N,2016-01-15,C,9.02,3124015.0,10067100.0
10,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-03,ONION ST / E 4TH ST ...,N,2016-01-14,G,9.02,3118922.0,10068497.0
11,78702,996.0,3.0,BURGLARY NON RESIDENCE,Burglary,2016-01-04,4813 GONZALES ST ...,N,2016-01-13,C,21.11,3128421.0,10066523.0
12,78702,996.0,3.0,BURGLARY OF RESIDENCE,Burglary,2016-01-04,2615 CANTERBURY ST ...,N,2016-01-07,C,10.00,3123172.0,10064945.0
13,78702,996.0,1.0,BURGLARY OF RESIDENCE,Burglary,2016-01-04,1190 AIRPORT BLVD ...,N,2016-03-08,C,8.02,3127441.0,10073641.0
14,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-04,1204 CANTERBURY ST ...,N,2016-01-14,G,10.00,3117595.0,10067314.0
15,78702,996.0,1.0,THEFT,Theft,2016-01-04,2001 E 17TH ST ...,N,2016-02-08,C,8.03,3121626.0,10074481.0
16,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,2016-01-04,500 ONION ST ...,N,2016-01-07,G,9.02,3119030.0,10068871.0
17,78702,996.0,3.0,THEFT,Theft,2016-01-04,1500 E 6TH ST ...,N,2016-01-07,G,9.02,3119252.0,10069180.0
18,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-04,1617 N IH 35 SVRD NB ...,N,2016-01-08,C,8.03,3118563.0,10074333.0
19,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-04,1617 N IH 35 SVRD NB ...,N,2016-02-16,C,8.03,3118563.0,10074333.0
20,78702,996.0,3.0,AGG ROBBERY/DEADLY WEAPON,Robbery,2016-01-05,1100 FLORES ST ...,N,2016-05-22,G,10.00,3116540.0,10065619.0
21,78702,996.0,3.0,AUTO THEFT,Auto Theft,2016-01-05,979 SPRINGDALE RD ...,N,2016-01-12,C,8.01,3129034.0,10069518.0
22,78702,996.0,3.0,BURGLARY OF RESIDENCE,Burglary,2016-01-05,1607 GARDEN ST ...,N,2016-01-07,G,10.00,3118655.0,10066223.0
23,78702,996.0,3.0,AGG ASSAULT,Agg Assault,2016-01-06,1211 WILLOW ST ...,N,2016-01-22,G,10.00,3117828.0,10067364.0
24,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,2016-01-06,1502 WALLER ST ...,N,2016-02-08,C,8.03,3118350.0,10073580.0
25,78702,996.0,1.0,THEFT OF BICYCLE,Theft,2016-01-06,811 E 11TH ST ...,N,2016-01-08,G,9.01,3117805.0,10071474.0
26,78702,996.0,3.0,BURGLARY OF RESIDENCE,Burglary,2016-01-07,1704 HASKELL ST ...,N,2016-01-07,G,10.00,3119080.0,10065522.0
27,78702,996.0,3.0,BURGLARY NON RESIDENCE,Burglary,2016-01-07,2716 E 5TH ST ...,N,2016-01-18,C,9.02,3124195.0,10067052.0
28,78702,996.0,3.0,BURGLARY OF RESIDENCE,Burglary,2016-01-07,1611 CANTERBURY ST ...,N,2016-03-29,G,10.00,3118918.0,10066507.0
29,78702,996.0,3.0,BURGLARY OF RESIDENCE,Burglary,2016-01-07,1620 HASKELL ST ...,N,2016-01-12,G,10.00,3118775.0,10065575.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
713006,78747,343.0,2.0,THEFT,Theft,2016-11-17,6813 SABRINA DR ...,N,2017-01-11,F,24.26,3116138.0,10029022.0
713007,78747,343.0,2.0,DEADLY CONDUCT,Agg Assault,2016-11-19,8901 EDMUNDSBURY DR ...,N,2016-12-02,F,24.26,3116185.0,10027228.0
713008,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-11-23,7917 NATER LN ...,O,2017-02-06,F,24.26,3113226.0,10031149.0
713009,78747,343.0,2.0,AUTO THEFT,Auto Theft,2016-11-23,8204 FLAXEN DR ...,C,2016-12-09,F,24.26,3116451.0,10029762.0
713010,78747,343.0,2.0,THEFT,Theft,2016-11-25,2110 E SLAUGHTER LN ...,N,2016-12-01,F,24.26,3109123.0,10028360.0
713011,78747,343.0,5.0,BURGLARY OF RESIDENCE,Burglary,2016-11-26,10505 S IH 35 SVRD NB ...,N,2016-11-28,F,24.28,3100225.0,10025948.0
713012,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-11-28,5801 KLEBERG TRL ...,N,2016-11-30,F,24.28,3107535.0,10024130.0
713013,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-11-29,10108 CRESCENDO LN ...,N,2016-11-30,F,24.28,3108607.0,10024272.0
713014,78747,343.0,2.0,AUTO THEFT,Auto Theft,2016-11-29,6205 RINGSBY RD ...,N,2016-12-05,F,24.26,3114723.0,10031436.0
713015,78747,343.0,2.0,BURGLARY OF VEHICLE,Theft,2016-12-03,6412 PIEDRAS BLANCO DR ...,N,2016-12-15,F,24.26,3115365.0,10032244.0
713016,78747,343.0,2.0,BURGLARY OF VEHICLE,Theft,2016-12-03,6500 PIEDRAS BLANCO DR ...,N,2016-12-07,F,24.26,3115498.0,10032342.0
713017,78747,343.0,5.0,THEFT FROM AUTO,Theft,2016-12-03,11029 BALLYBUNION PL ...,N,2016-12-05,F,24.28,3104053.0,10021447.0
713018,78747,343.0,2.0,BURGLARY OF VEHICLE,Theft,2016-12-03,6502 PIEDRAS BLANCO DR ...,N,2016-12-15,F,24.26,3115549.0,10032316.0
713019,78747,343.0,5.0,BURG NON RESIDENCE SHEDS,Burglary,2016-12-04,10017 WILD DUNES DR ...,N,2016-12-05,F,24.28,3103943.0,10027439.0
713020,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-04,5704 ARBOR HILL LN ...,N,2016-12-05,F,24.28,3107865.0,10024984.0
713021,78747,343.0,2.0,THEFT,Theft,2016-12-05,10221 DEER CHASE TRL ...,N,2016-12-07,F,24.28,3107649.0,10024310.0
713022,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-06,8201 FLAXEN DR ...,N,2016-12-15,F,24.26,3116611.0,10029770.0
713023,78747,343.0,2.0,THEFT,Theft,2016-12-07,8816 WILEY WAY ...,N,2016-12-12,F,24.26,3115196.0,10028045.0
713024,78747,343.0,5.0,THEFT,Theft,2016-12-12,10910 PINEHURST DR ...,N,2016-12-15,F,24.28,3099442.0,10022951.0
713025,78747,343.0,2.0,BURGLARY NON RESIDENCE,Burglary,2016-12-13,10000 DEER CHASE TRL ...,N,2017-01-06,F,24.28,3108257.0,10025136.0
713026,78747,343.0,2.0,THEFT,Theft,2016-12-13,8712 PANADERO DR ...,N,2017-03-03,F,24.26,3114113.0,10028340.0
713027,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-14,5700 ARBOR HILL LN ...,N,2016-12-15,F,24.28,3107834.0,10025021.0
713028,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-14,10424 CAMEO LN ...,N,2016-12-15,F,24.28,3106618.0,10023990.0
713029,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-14,6725 BROAD BROOK DR ...,N,2017-02-22,F,24.26,3116066.0,10029897.0
713030,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-15,8060 THAXTON RD ...,N,2016-12-16,F,24.26,3116458.0,10030099.0
713031,78747,343.0,2.0,BURGLARY OF RESIDENCE,Burglary,2016-12-15,7645 MARBLE RIDGE DR ...,N,2016-12-19,F,24.26,3117108.0,10031875.0
713032,78747,343.0,5.0,BURGLARY OF RESIDENCE,Burglary,2016-12-17,10505 S IH 35 SVRD NB ...,N,2016-12-19,F,24.28,3100225.0,10025948.0
713033,78747,343.0,5.0,BURGLARY OF RESIDENCE,Burglary,2016-12-17,10505 S IH 35 SVRD NB ...,N,2016-12-19,F,24.28,3100225.0,10025948.0
713034,78747,343.0,5.0,MURDER,Murder,2016-12-18,4509 WALTON HEATH CIR ...,C,2016-12-18,F,24.28,3101530.0,10021467.0
713035,78747,343.0,5.0,THEFT,Theft,2016-12-24,2506 PEBBLE BEACH DR ...,N,2017-03-08,F,24.28,3100785.0,10022871.0